
.total-account{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.total-account div{
    width: calc(90%/3);
    padding: 5px;
    text-align: center;
    background-color: #F4F7FF;
    border-radius: 15px;
}

.total-account div:last-child{
    border-right: none;
}

.total-account div p{
    font-size: 1.5rem;
}

.filter{
    width: 100%;
    padding: 10px;
}

.filter ul{
    font-size: 1.2rem;
    width: 100%;
    display: flex;
    justify-content: right;
    gap: 20px;
}

.filter ul li{
    padding: 10px;
    background-color: #F4F7FF;
    list-style-type: none;
    cursor: pointer;
    font-size: 0.8rem;
    width: 8%;
}

.filter button{
    padding: 10px 30px;
    font-size: 0.8rem;
    cursor: pointer;
    border: none;
}

.filter button:hover{
    background-color: #c3c7d1;
    transition: 0.3 ease-in-out;
}

.title-list-account{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title-list-account .header-title-list-account{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;  
}

.title-list-account button{
    padding: 10px;
    font-size: 0.8rem;
    cursor: pointer;
    border: none;
}

.title-list-account button:hover{
    background-color: #c3c7d1;
    transition: 0.3 ease-in-out;
}

.header-title-list-account p{
    font-size: 2rem;  
}

.header-title-list-account .option{
    width: 70%;
    display: flex;
    justify-content: right;
    gap: 50px;
}

.header-title-list-account input{
    background-color: #d9d9d9;
    border: none;
    font-size: 0.8rem;
    padding: 5px;
    width: 500px;
}

.header-title-list-account input:focus{
    outline: none;
    border: none;
}

.title-list-account table, th, td{
    text-align: left;
    padding: 8px;
    border: none;
}

.title-list-account table{
    width: 100%; 
    padding: 10px;
}

.title-list-account th {
    text-align: left;
    background-color: #F4F7FF; 
}

.title-list-account table th:nth-child(9), .total-account table td:nth-child(9) {
    width: 100px;
}

.title-list-account table svg{
    width: 15px;
    height: 15px;
    cursor: pointer;
}
