body {
    display: flex;
}
 /* Sidebar */
 #sidebar {
    width: 250px;
    min-height: 100vh;
    background: #343a40;
    transition: all 0.3s;
}
#sidebar .nav-link {
    color: white;
}
#sidebar .nav-link:hover {
    background: #495057;
}
#sidebar.collapsed {
    width: 80px;
}
#sidebar.collapsed .nav-text {
    display: none;
}
#sidebar.collapsed .nav-link {
    text-align: center;
}
 /* Content */
 #content {
    flex-grow: 1;
    padding: 20px;
    transition: margin-left 0.3s;
}